<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="obsNotificacaoCliente" class="control-label">Observações</label>
      <textarea ng-show="vm.regras.enableNotificacaoCliente" fluig-error="form.obsNotificacaoCliente.$error"
        name="obsNotificacaoCliente" elastic class="form-control input-lg"
        placeholder="Utilize este campo para incluir informações adicionais no e-mail que será enviado ao cliente"
        ng-model="vm.Formulario.obsNotificacaoCliente" ng-value="vm.Formulario.obsNotificacaoCliente"></textarea>
      <p ng-show="!vm.regras.enableNotificacaoCliente">{{vm.Formulario.obsNotificacaoCliente || 'Sem observações'}}</p>
    </div>
  </div>
  <div class="col-sm-12">
    <table class="table" tablename="emailsCliente" noaddbutton="true" nodeletebutton="true"
      ng-show="vm.Formulario.emailsCliente.length > 0">
      <thead>
        <tr>
          <th class="hidden-xs col-sm-1" ng-show="vm.regras.enableNotificacaoCliente">
          </th>
          <th class="col-sm-6">E-mail</th>
          <th class="col-sm-1">Início da Ação</th>
          <th class="col-sm-1">Fim da Ação</th>
          <th class="col-sm-1">Envio de Evidências</th>
          <th class="col-sm-1">Envio da ND</th>
          <th class="col-sm-1">Pagamento</th>
        </tr>
      </thead>
      <tbody ng-non-bindable>
        <tr ng-repeat="email in vm.Formulario.emailsCliente">
          <td ng-show="vm.regras.enableNotificacaoCliente">
            <span ng-click="vm.removeChild(vm.Formulario.emailsCliente, email)"
              class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
          </td>
          <td>
            <input type="email" class="form-control" name="email_email_i" ng-model="email.email">
            <input type="hidden" name="email_email" ng-value="email.email">
          </td>
          <td>
            <div ng-show="vm.etapaNotificacao <= 1">
              <input type="checkbox" name="email_iniAcao_i" ng-model="email.iniAcao" fluig-switch data-off-text="NÃO"
                data-on-text="SIM" data-on-color="success">
            </div>
            <h4 ng-show="vm.etapaNotificacao > 1 || !vm.Params.edit">{{email.iniAcao ? 'SIM' : 'NÃO'}}</h4>
            <input type="hidden" name="email_iniAcao" ng-value="email.iniAcao">
          </td>
          <td>
            <div ng-show="vm.etapaNotificacao <= 2">
              <input ng-show="vm.Params.etapa=='autorizarNotificacaoFim'" type="checkbox" name="email_fimAcao_i"
                ng-model="email.fimAcao" fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
            </div>

            <h4 ng-show="vm.etapaNotificacao > 2 || !vm.Params.edit">{{email.fimAcao ? 'SIM' : 'NÃO'}}</h4>
            <input type="hidden" name="email_fimAcao" ng-value="email.fimAcao">
          </td>
          <td>
            <div ng-show="vm.etapaNotificacao <= 3">
              <input type="checkbox" name="email_evidencia_i" ng-model="email.evidencia" fluig-switch
                data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
            </div>

            <h4 ng-show="vm.etapaNotificacao > 3 || !vm.Params.edit">{{email.evidencia ? 'SIM' : 'NÃO'}}</h4>
            <input type="hidden" name="email_evidencia" ng-value="email.evidencia">
          </td>
          <td>
            <div ng-show="vm.etapaNotificacao <= 4">
              <input type="checkbox" name="email_envioND_i" ng-model="email.envioND" fluig-switch data-off-text="NÃO"
                data-on-text="SIM" data-on-color="success">
            </div>

            <h4 ng-show="vm.etapaNotificacao > 4 || !vm.Params.edit">{{email.envioND ? 'SIM' : 'NÃO'}}</h4>
            <input type="hidden" name="email_envioND" ng-value="email.envioND">
          </td>
          <td>
            <div ng-show="vm.etapaNotificacao <= 5">
              <input type="checkbox" name="email_pagamento_i" ng-model="email.pagamento" fluig-switch
                data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
            </div>

            <h4 ng-show="vm.etapaNotificacao > 5 || !vm.Params.edit">{{email.pagamento ? 'SIM' : 'NÃO'}}</h4>
            <input type="hidden" name="email_pagamento" ng-value="email.pagamento">
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="vm.regras.enableNotificacaoCliente">
      <a class="btn btn-default btn-lg" ng-click="vm.incluirEmailNotificacao()">Incluir E-mail</a>
    </div>
  </div>
</div>