<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="statusVales_i" class="control-label">Status</label>
      <div>
        <label class="radio-inline">
          <input type="radio" ng-readonly="!vm.regras.enableGerenciarVales" name="statusVales_i"
            ng-model="vm.Formulario.statusVales" value="comprado" ng-required="true"
            fluig-error="form.statusVales_i.$error">
          Comprado
        </label>
        <label class="radio-inline">
          <input type="radio" ng-readonly="!vm.regras.enableGerenciarVales" name="statusVales_i"
            ng-model="vm.Formulario.statusVales" value="enviado" ng-required="true"
            fluig-error="form.statusVales_i.$error">
          Enviado
        </label>
        <label class="radio-inline">
          <input type="radio" ng-readonly="!vm.regras.enableGerenciarVales" name="statusVales_i"
            ng-model="vm.Formulario.statusVales" value="entregue" ng-required="true"
            fluig-error="form.statusVales_i.$error">
          Entregue
        </label>
      </div>
      <input type="hidden" name="statusVales" ng-value="vm.Formulario.statusVales">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="dataCompraVales_i" class="control-label">Data da Compra</label>
      <input class="form-control input-lg" ng-disabled="!vm.regras.enableGerenciarVales" name="dataCompraVales_i"
        fluig-date-mask date-pattern="LL" use-current="false" ng-model="vm.Formulario.dataCompraVales"
        ng-required="true" fluig-error="form.dataCompraVales_i.$error" readonly>
      <input type="hidden" name="dataCompraVales_f" ng-value="vm.Formulario.dataCompraVales | date:'fullDate'">
      <input type="hidden" name="dataCompraVales" ng-value="vm.Formulario.dataCompraVales">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="dataPostagemVales_i" class="control-label">Data da Postagem</label>
      <input class="form-control input-lg" ng-disabled="!vm.regras.enableGerenciarVales" name="dataPostagemVales_i"
        fluig-date-mask date-pattern="LL" use-current="false" ng-model="vm.Formulario.dataPostagemVales"
        ng-required="true" fluig-error="form.dataPostagemVales_i.$error" readonly>
      <input type="hidden" name="dataPostagemVales_f" ng-value="vm.Formulario.dataPostagemVales | date:'fullDate'">
      <input type="hidden" name="dataPostagemVales" ng-value="vm.Formulario.dataPostagemVales">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="dataEnvioVales_i" class="control-label">Data do Envio</label>
      <input class="form-control input-lg" ng-disabled="!vm.regras.enableGerenciarVales" name="dataEnvioVales_i"
        fluig-date-mask date-pattern="LL" use-current="false" ng-model="vm.Formulario.dataEnvioVales" ng-required="true"
        fluig-error="form.dataEnvioVales_i.$error" readonly>
      <input type="hidden" name="dataEnvioVales_f" ng-value="vm.Formulario.dataEnvioVales | date:'fullDate'">
      <input type="hidden" name="dataEnvioVales" ng-value="vm.Formulario.dataEnvioVales">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="codRastreioVales_i" class="control-label">Código de Rastreio</label>
      <input class="form-control input-lg" ng-disabled="!vm.regras.enableGerenciarVales" name="codRastreioVales_i" ng-model="vm.Formulario.codRastreioVales"
        ng-value="vm.Formulario.codRastreioVales" ng-required="true" fluig-error="form.codRastreioVales_i.$error">
    </div>
  </div>
</div>