<table class="table" tablename="itensSellinIt" noaddbutton="true" nodeletebutton="true"
  ng-show="vm.Formulario.itensSellinIt.length > 0">
  <thead>
    <tr>
      <th class="hidden-xs">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="itemSellinIt in vm.Formulario.itensSellinIt">
      <td>
        <div class="td-content">
          <div class="row">

            <div class="col-sm-1">
              <span ng-if="vm.regras.enableSolicitacao" ng-click="vm.removeChild(vm.Formulario.itensSellinIt, $index)"
                class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-6">
                  <label>Item</label>
                  <input class="form-control input-lg" name="itemSellinIt_item_input" fluig-autocomplete
                    dataset="totvs_busca_item" display-key="displaykey" ng-model="itemSellinIt.item"
                    ng-disabled="!vm.regras.enableSolicitacao" ng-change="vm.changeitemSellinIt(itemSellinIt, $index)">
                  <textarea hidden name="itemSellinIt_item" ng-value="itemSellinIt.item | json:0"
                    ng-bind="itemSellinIt.item | json:0"></textarea>
                  <input type="hidden" name="itemSellinIt_itemCodigo" ng-value="itemSellinIt.item.codigo">
                </div>
                <div class="col-sm-6">
                  <label>Categoria</label>
                  <input class="form-control input-lg" name="itemSellinIt_categoria"
                    ng-model="itemSellinIt.item.categoria" disabled>
                </div>
              </div>

              <div class="row animation" ng-show="itemSellinIt.item.codigo">
                <div class="col-sm-4">
                  <label>SRP Inicial</label>
                  <input class="form-control input-lg" name="itemSellinIt_srpInicial_input" fluig-money-mask
                    ng-model="itemSellinIt.srpInicial" ng-disabled="!vm.regras.enableSolicitacao">
                  <input type="hidden" name="itemSellinIt_srpInicial" ng-value="itemSellinIt.srpInicial">
                </div>

                <div class="col-sm-4">
                  <label>Net R$ Inicial</label>
                  <input class="form-control input-lg" name="itemSellinIt_netInicial_input" fluig-money-mask
                    ng-model="itemSellinIt.item.netInicial" disabled>
                  <input type="hidden" name="itemSellinIt_netInicial" ng-value="itemSellinIt.item.netInicial">
                </div>
                <div class="col-sm-4">
                  <label>GP</label>
                  <input class="form-control input-lg" name="itemSellinIt_gpInicial_input" fluig-money-mask
                    ng-model="itemSellinIt.item.gpInicial" disabled>
                  <input type="hidden" name="itemSellinIt_gpInicial" ng-value="itemSellinIt.item.gpInicial">
                </div>
              </div>

              <div class="row animation" ng-show="itemSellinIt.item.codigo">
                <div class="col-sm-4">
                  <label>SRP Sugerido</label>
                  <input class="form-control input-lg" name="itemSellinIt_srpSugerido_input" fluig-money-mask
                    ng-model="itemSellinIt.srpSugerido" ng-disabled="!vm.regras.enableSolicitacao">
                  <input type="hidden" name="itemSellinIt_srpSugerido" ng-value="itemSellinIt.srpSugerido">
                </div>

                <div class="col-sm-4">
                  <label>Net R$ Sugerido</label>
                  <input class="form-control input-lg" name="itemSellinIt_netSugerido_input" fluig-money-mask
                    ng-model="itemSellinIt.item.netSugerido" disabled>
                  <input type="hidden" name="itemSellinIt_netSugerido" ng-value="itemSellinIt.item.netSugerido">
                </div>
                <div class="col-sm-4">
                  <label>GP</label>
                  <input class="form-control input-lg" name="itemSellinIt_gpSugerido_input" fluig-money-mask
                    ng-model="itemSellinIt.item.gpSugerido" disabled>
                  <input type="hidden" name="itemSellinIt_gpSugerido" ng-value="itemSellinIt.item.gpSugerido">
                </div>
              </div>

              <div class="row animation" ng-show="itemSellinIt.item.codigo">
                <div class="col-sm-4">
                  <label>Rebate Unit</label>
                  <input class="form-control input-lg" name="itemSellinIt_rebateUnit_input" fluig-money-mask
                    ng-model="itemSellinIt.item.rebateUnit" disabled>
                  <input type="hidden" name="itemSellinIt_rebateUnit" ng-value="itemSellinIt.item.rebateUnit">
                </div>

                <div class="col-sm-4">
                  <label>Qtde</label>
                  <input class="form-control input-lg" name="itemSellinIt_qtde_input" fluig-number-mask
                    ng-model="itemSellinIt.qtde" ng-disabled="!vm.regras.enableSolicitacao"
                    ng-change="itemSellinIt.rebateTotal = itemSellinIt.item.rebateUnit * itemSellinIt.qtde;vm.calculaTotais()">
                  <input type="hidden" name="itemSellinIt_qtde" ng-value="itemSellinIt.qtde">
                </div>
                <div class="col-sm-4">
                  <label>Rebate Total</label>
                  <input class="form-control input-lg" name="itemSellinIt_rebateTotal_input" fluig-money-mask
                    ng-model="itemSellinIt.rebateTotal" disabled>
                  <input type="hidden" name="itemSellinIt_rebateTotal" ng-value="itemSellinIt.rebateTotal">
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- <h4>{{itemSellinIt.usuario.colleagueName}} incluiu em {{itemSellinIt.data | date}}</h4> -->
                  <textarea hidden name="itemSellinIt_usuario" ng-value="itemSellinIt.usuario | json:0"
                    ng-bind="itemSellinIt.usuario | json:0"></textarea>
                  <input type="hidden" name="itemSellinIt_usuarioCodigo" ng-value="itemSellinIt.usuario.colleagueId">
                  <input type="hidden" name="itemSellinIt_data" ng-model="itemSellinIt.data" ng-value="itemSellinIt.data">
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a ng-if="vm.regras.enableSolicitacao" class="btn btn-default"
  ng-click="vm.incluiItem(vm.Formulario.itensSellinIt)">Incluir
  Item</a>